
body {
    font-family: 'Inter', sans-serif;
    background-color: #1A0B2E;
}



/* shared styles  */
.btn-subscribe button{
    padding: 15px 26px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.btn-group .btn-spotify{
    padding: 15px 26px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.btn-group .subscribe{
    color: #00FF88;
    border: 1px solid #00FF88;
    background-color: transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.fa-regular .fa-envelope{
    -webkit-text-fill-color: #00FF88;
}






/* main styles  */

/* header styles  */

.header-container{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #412567;
}
.logo-section h1{
    color: aliceblue;
    font-size: 38px;
}
.logo-section span{
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    background-color: #F7E93F;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    }
#menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

/* hero section styles  */

.hero-section1{
    padding: 101px 0px;
    text-align: center;
    color: white;
    background-image: url("./assets/hero-bg.png");
    border-bottom: 1px solid #412567;
}
.mic-section{
    align-items: center;
}
.hero-title{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-para{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 24px;
}
.mic-section2{
    transform: translateY(-270px);
    
}
.mic-section2 img{
    position: absolute;
    transform: translateX(-55px);
}
.mic-section3{
    transform: translateY(-320px);
}
.mic-section3 button{
    padding: 8px 16px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    position: absolute;
    transform: translateX(105px);
}

/* bout sections  */

.about-podcast{
    background-color: #1A0B2E;
    padding-top: 50px;
    color: white;
    text-align: center;
}
.about-podcast h2{
    font-size: 48px;
    font-weight: bold;
    font-family: Inter;
}
.about-podcast p{
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
hr.line {
    background-color: #412567;
    height: 2px;
    border: none;
    margin: 80px 300px;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 120px;
}
.card h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    line-height: 4px;
    letter-spacing: 2px;
}
.card p{
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

/* why choose techwave section styles  */

.quality-container{
    background-color: #230E3D;
    text-align: center;
    color: #FFFFFF;
}
.quality-title h2{
    font-size: 48px;
    color: #FFFFFF;
    padding: 120px 0px 40px 0px;
}
#grid-card1{
  grid-row: span 2;
}
#grid-card2{
  grid-column: span 2;
}
#grid-card3{
  grid-column: span 2;
}
#grid-card4{
  grid-column: span 2;
}
#grid-card5{
  grid-column: span 1;
}
.grid-quality {
    margin: 0px 20%;
    padding-bottom: 120px;
    display: grid;
    gap: 30px;
    grid-template-areas:  "grid-card1   grid-card2   grid-card2"
                          "grid-card1   grid-card3   grid-card3"
                          "grid-card4   grid-card4   grid-card5";
}
#grid-card1{
    background-color: #351165;
    max-width: 380px;
    border: 1px solid #000000;
    padding: 112.5px 20px 107.5px 27px;
    border-radius: 18px;
    text-align: left;
}
#grid-card2{
    background-color: #351165;
    max-width: 790px;
    border: 1px solid #000000;
    padding: 62.5px 20px 64.5px 27px;
    border-radius: 18px;
    text-align: left;
}
#grid-card3{
    background-color: #351165;
    max-width: 790px;
    border: 1px solid #000000;
    padding: 62.5px 20px 64.5px 27px;
    border-radius: 18px;
    text-align: left;
}
#grid-card4{
    background-color: #351165;
    max-width: 790px;
    border: 1px solid #000000;
    padding: 62.5px 20px 64.5px 27px;
    border-radius: 18px;
    text-align: left;
}
#grid-card5{
    background-color: #351165;
    max-width: 380px;
    border: 1px solid #000000;
    padding: 62.5px 20px 64.5px 27px;
    border-radius: 18px;
    text-align: left;
}

/* host section styles  */

.host-container{
    text-align: center;
    color: #FFFFFF;
    padding: 120px 0px;
}
.host-container h2{
   font-size: 3rem;
    font-weight: 600;
}
.host-card{
    background-color: #230E3D;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin: 0px 20% 30px 20%;
    justify-content: center;
    align-items: center;
}
.host-intro{
    padding-left: 20px;
}
.host-intro h2{
    text-align: left;
    padding-bottom: 5px;
    line-height: 5px;
}
.host-intro p{
    text-align: left;
    font-size: 1rem;
    font-weight: 300px;
    line-height: 24px;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    height: 30px;
    width: 30px;
    padding: 8px;
    border: 1px solid #533C72;
    border-radius: 30px;
    cursor: pointer;
}
.featured{
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 30px;
}
.featured h2{
    font-size: 48px;
    font-weight: 600;
}
.featured-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.video-card{
    max-width: 300px;
    text-align: left;
    background-color: #230E3D;
    border-radius: 20px;
    padding: 0px 25px 20px 25px;
}
.video-card h3{
        font-size: 24px;
        padding: 0px 15px;
}
.video-card p{
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        padding: 0px 15px;
}
.video{
    border-radius: 15px;
}
.playtime{
    display: flex;
    padding: 0px 15px;
}
.playtime img{
    height: 20px;
    width: 20px;
    padding-top: 16px;
    padding-right: 10px;
}

/* footer design */

.footer-container{
    background-image: url(./assets/footer-bg.png);
    color: #FFFFFF;
    text-align: center;
    height: 290px;
    padding: 120px;
}

.footer-logo h1{
    color: aliceblue;
    font-size: 58px;
}
.footer-logo span{
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    background-color: #F7E93F;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    }
.socials-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
}

.video-card{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 0px;
    margin-right: 10px;
    max-width: 300px;
    overflow: hidden; 
}

/* media query for small devices */
@media screen and (max-width:576px){
    
}



/* media query for medium devices */
@media screen and (min-width:576px) and (max-width:997px){
    .card-container{
        flex-direction: column;
    }
    .grid-quality {
    margin: 0px 5%;
    padding-bottom: 40px;
    display: grid;
    gap: 30px;
    grid-template-areas:  "grid-card1"
                          "grid-card2"
                          "grid-card3" 
                           "grid-card4"  
                           "grid-card5";
}
#grid-card1{
  grid-column: span 1;
}

}

